[submodule "voogasalad_util"]
	path = voogasalad_util
	url = https://coursework.cs.duke.edu/compsci308_2019spring/voogasalad_util
[submodule "example_browser"]
	path = example_browser
	url = https://coursework.cs.duke.edu/compsci308_2019spring/example_browser.git
